[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Robotnik
Comment='GUI Robotnik Kuka'
Exec=~/kuka_catkin_ws/src/rqt_kuka/scripts/robotnik_kuka.sh
Icon=~/kuka_catkin_ws/src/rqt_kuka/scripts/icon.ico
Terminal=true
Type=Application
